<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<resultMap type="member" id="memberMap">
		<result property="memberNo" column="member_no"/>
		<result property="memberId" column="member_id"/>
		<result property="memberPwd" column="membe_pwd"/>
		<result property="memberName" column="member_name"/>
		<result property="memberNickname" column="member_nickname"/>
		<result property="memberEmail" column="member_email"/>
		<result property="memberBirth" column="member_birth"/>
		<result property="memberGender" column="member_gender"/>
		<result property="memberPhone" column="member_phone"/>
		<result property="memberAddr" column="member_addr"/>
		<result property="adminWhether" column="admin_whether"/>
	</resultMap>
	
	<select id="selectMemberOne" resultMap="memberMap" parameterType="member">
		SELECT *
		FROM `member`
		WHERE member_id = #{memberId}
		AND member_pwd = #{memberPwd}
	</select>
	
	<select id="memberList" resultMap="memberMap">
		SELECT *
		FROM `member`
	</select>
	<select id="memberOne" resultMap="memberMap" parameterType="_int">
		SELECT *
		FROM `member`
		WHERE member_no = #{param1}
	</select>
	<select id="selectMemberByNickname" resultMap="memberMap" parameterType="string">
		SELECT *
		FROM `member`
		WHERE member_nickname = #{member_nickname}
	</select>
	
	<select id="selectMemberById" resultMap="memberMap" parameterType="string">
		SELECT *
		FROM `member`
		WHERE member_id = #{member_id}
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertMemberOne" parameterType="member"
	useGeneratedKeys="true" keyProperty="memberNo">
		INSERT INTO `member`(
			member_id ,member_pwd ,member_name ,member_nickname ,member_email
			,member_addr ,member_phone ,member_birth ,member_gender)
		VALUE(
			#{memberId} ,#{memberPwd} ,#{memberName} ,#{memberNickname} ,#{memberEmail}
			,#{memberAddr} ,#{memberPhone} ,#{memberBirth} ,#{memberGender})
	</insert>
	<insert id="insertMemberInterestGenreOne" parameterType="map">
		INSERT INTO `member_interest_genre` (genre_id ,member_no)
		VALUE (#{genreId} ,#{memberNo})
	</insert>
	
	
</mapper>