<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movieMapper">
	<!-- <resultMap type="movie" id="movieMap">
			<result property="movieNo" column="movie_no"/>
			<result property="movieTitle" column="movie_title"/>
			<result property="moviePlot" column="movie_plot"/>
			<result property="movieDirector" column="movie_director"/>
			<result property="movieActor" column="movie_actor"/>
			<result property="releaseDate" column="release_date"/>	
			<result property="runTime" column="run_time"/>
			<result property="rating" column="rating"/>
			<result property="viewsNum" column="views_num"/>	
			<result property="genreNo" column="genre_no"/>
			<result property="movieAddressUrl" column="movie_address_url"/>	
	</resultMap> -->
	<resultMap type="movieDto" id="movieMap">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="originalTitle" column="original_title"/>
		<result property="overview" column="overview"/>
		<result property="rumtime" column="runtime"/>
		<result property="releaseDate" column="release_date"/>	
		<result property="voteAverage" column="vote_average"/>
		<result property="posterPath" column="poster_path"/>
		<result property="adult" column="adult"/>
	</resultMap>
	
	<!-- 배우 추가 -->
	<insert id="insertActor" parameterType="actor">
		INSERT IGNORE INTO `actor_dto` (id, name)
		VALUES (#{id},#{name})
	</insert>
	
	<!-- 장르 추가 -->
	<insert id="insertGenre" parameterType="genre">
		INSERT IGNORE INTO `genre_dto` (id, name)
		VALUES (#{id},#{name})
	</insert>
	
	<!-- API로 받아온 영화 추가(반복문) -->
	<!-- <insert id="insertMovieAll" parameterType="java.util.List">
		INSERT IGNORE INTO `movie_dto` (id, title, original_title, overview, runtime, release_date, vote_average, poster_path, adult)
		VALUES
		<foreach collection="list" item="movie" separator=",">
		(#{movie.id}, #{movie.title}, #{movie.originalTitle}, #{movie.overview}, #{movie.runtime}, #{movie.releaseDate}, #{movie.voteAverage}, #{movie.posterPath}, #{movie.adult})
		</foreach>
	</insert> -->
	
	<!-- API로 받아온 영화 추가(하나씩) -->
	<insert id="insertMovie" parameterType="movieDto">
		INSERT IGNORE INTO `movie_dto` (id, title, original_title, overview, runtime, release_date, vote_average, poster_path, adult)
		VALUES
		(#{id}, #{title}, #{originalTitle}, #{overview}, #{runtime}, #{releaseDate}, #{voteAverage}, #{posterPath}, #{adult})
	</insert>
	
	<insert id="insertMovieGenre" parameterType="map">
	    INSERT INTO `movie_genre` (movie_id, genre_id)
	    VALUES
	    <foreach collection="list" item="genre" separator=",">
	        (#{movieId}, #{genre})
	    </foreach>
	</insert>
	
	<!-- 중복 검사 -->
	<select id="selectMovieById" resultType="com.filmlog.movie.model.vo.MovieDTO">
		SELECT *
		FROM `movie_dto`
		WHERE id = #{id}
	</select>

	<!-- 영화 목록 -->
	<select id="movieList" resultType="com.filmlog.movie.model.vo.MovieDTO">
        SELECT * 
        FROM `movie`
    </select>


</mapper>