<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movieMapper">
	<!-- <resultMap type="movie" id="movieMap">
			<result property="movieNo" column="movie_no"/>
			<result property="movieTitle" column="movie_title"/>
			<result property="moviePlot" column="movie_plot"/>
			<result property="movieDirector" column="movie_director"/>
			<result property="movieActor" column="movie_actor"/>
			<result property="releaseDate" column="release_date"/>	
			<result property="runTime" column="run_time"/>
			<result property="rating" column="rating"/>
			<result property="viewsNum" column="views_num"/>	
			<result property="genreNo" column="genre_no"/>
			<result property="movieAddressUrl" column="movie_address_url"/>	
	</resultMap> -->
	
	<!-- 배우 추가 -->
	<insert id="insertActor" parameterType="actor">
		INSERT IGNORE INTO `actor_dto` (id, name)
		VALUES (#{id},#{name})
	</insert>
	
	<!-- 장르 추가 -->
	<insert id="insertGenre" parameterType="genre">
		INSERT IGNORE INTO `genre_dto` (id, name)
		VALUES (#{id},#{name})
	</insert>
	
	<!-- 영화 추가 -->
	<insert id="insertMovie" parameterType="movie">
		INSERT IGNORE INTO `movie_dto` (id, title, overview, release_date, vote_count, vote_average, poster_path)
		VALUES (#{id},#{title},#{overview},#{releaseDate},#{voteCount},#{voteAverage},#{posterPath})
	</insert>
	
	<!-- 중복 검사 -->
	<select id="selectMovieById" resultType="com.filmlog.movie.model.vo.MovieDTO">
		SELECT *
		FROM `movie_dto`
		WHERE id = #{id}
	</select>

	<!-- 영화 목록 -->
	<select id="movieList" resultType="com.filmlog.movie.model.vo.MovieDTO">
        SELECT * 
        FROM `movie`
    </select>


</mapper>