<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewboardMapper">
	<resultMap type="reviewBoard" id="reviewBoardMap">
		<result property="reviewBoardNo" column="review_board_no"/>
		<result property="reviewBoardTitle" column="review_board_title"/>
		<result property="reviewBoardContent" column="review_board_content"/>
		<result property="memberNickname" column="member_nickname"/>
		<result property="regDate" column="reg_date"/>
		<result property="views" column="views"/>
		<result property="movieTitle" column="movie_title"/>
		<result property="movieNo" column="movie_no"/>
		<result property="reviewBoardWriter" column="member_no"/>
		<result property="imgNo" column="review_board_img_no"/>
	</resultMap>
	<resultMap type="reviewBoardImg" id="reviewBoardImgMap">
		<result property="imgNo" column="review_board_img_no"/>
		<result property="reviewBoardNo" column="review_board_no"/>
		<result property="oriImg" column="ori_img"/>
		<result property="newImg" column="new_img"/>
		<result property="imgPath" column="img_path"/>		
	</resultMap>
	<resultMap type="reviewBoardComment" id="reviewBoardCommentMap">
		<result property="reviewBoardCommentNo" column="review_board_comment_no"/>
		<result property="comment" column="comment"/>
		<result property="regDate" column="reg_date"/>
		<result property="modDate" column="mod_date"/>
		<result property="reviewBoardNo" column="review_board_no"/>
		<result property="memberNo" column="member_no"/>	
		<result property="commentWriter" column="member_nickname"/>		
	</resultMap>
	
	<select id="selectReviewBoardAll" resultMap="reviewBoardMap" parameterType="reviewBoard">
		SELECT *
		FROM `review_board` r
		JOIN `member` m
		ON r.member_no = m.member_no
		
		LIMIT #{limitPageNo}, #{numPerPage}
	</select>
	
	<insert id="insertReviewBoard" parameterType="reviewBoard"
	useGeneratedKeys="true" keyProperty="reviewBoardNo">
		INSERT INTO `review_board`(review_board_title ,review_board_content ,member_no, movie_no)
		VALUES (#{reviewBoardTitle}, #{reviewBoardContent}, #{reviewBoardWriter}, #{movieNo})
	</insert>
	
 	<insert id="insertReviewBoardImg"  parameterType="reviewBoardImg">
		INSERT INTO `review_board_img`(ori_img ,new_img ,img_path,review_board_no)
		VALUES (#{oriImg}, #{newImg}, #{imgPath}, #{reviewBoardNo})
	</insert> 
	
	<select id="selectReviewBoardCount" parameterType="reviewBoard" resultType="_int">
		SELECT COUNT(*) FROM review_board
	</select>
	
	<select id="selectReviewBoardOne" parameterType="reviewBoard" resultMap="reviewBoardMap">
		SELECT *
		FROM `review_board` r
		JOIN `member` m
		ON r.member_no = m.member_no
		LEFT JOIN `review_board_img` i
		ON r.review_board_no = i.review_board_no
		JOIN `movie` v
		ON r.movie_no = v.movie_no
		WHERE r.review_board_no = #{reviewBoardNo}
	</select>
	
	<select id="selectImgOne" parameterType="int" resultMap="reviewBoardImgMap">
		SELECT *
		FROM `review_board_img`
		WHERE review_board_img_no = #{imgNo}
	</select>
	
	<delete id="deleteReviewBoard" parameterType="int">
		DELETE FROM `review_board`
		WHERE review_board_no = #{reviewBoardNo}
	</delete>
	
	<update id="updateReviewBoard" parameterType="reviewBoard">
		UPDATE `review_board` SET review_board_no = #{reviewBoardNo}
	</update>
	
	<delete id="deleteReviewBoardImg" parameterType="reviewBoardImg">
		DELETE FROM `review_board_img`
		WHERE review_board_no = #{reviewBoardNo}
	</delete>
	
	<update id="updateViews" parameterType="int">
		UPDATE `review_board` SET views = views+1
		WHERE review_board_no = #{reviewBoardNo}
	</update>
	
	<select id="selectUpdateViews" parameterType="int" resultType="_int">
	    SELECT views FROM `review_board` WHERE review_board_no = #{reviewBoardNo}
	</select>
	
	<insert id="insertReviewBoardComment" parameterType="reviewBoardComment"
	useGeneratedKeys="true" keyProperty="reviewBoardCommentNo">
		INSERT INTO `review_board_comment`(review_board_no ,member_no ,comment)
		VALUES (#{reviewBoardNo}, #{memberNo}, #{comment})
	</insert>
	
	<select id="selectReviewBoardCommentOne" parameterType="int" resultMap="reviewBoardCommentMap">
		SELECT *
		FROM `review_board_comment` c
		JOIN `member` m
		ON c.member_no = m.member_no
		WHERE review_board_comment_no = #{reviewBoardCommentNo}
	</select>
	
</mapper>