<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewboardMapper">
	<resultMap type="reviewBoard" id="reviewBoardMap">
		<result property="reviewBoardNo" column="review_board_no"/>
		<result property="reviewBoardTitle" column="review_board_title"/>
		<result property="reviewBoardContent" column="review_board_content"/>
		<result property="memberName" column="member_name"/>
		<result property="regDate" column="reg_date"/>
		<result property="views" column="views"/>	
	</resultMap>
	
	<select id="selectReviewBoardAll" resultMap="reviewBoardMap" parameterType="reviewBoard">
		SELECT *
		FROM `review_board` r
		JOIN `member` m
		ON r.member_no = m.member_no
		LIMIT #{limitPageNo}, #{numPerPage}
	</select>
	
	<insert id="insertReviewBoard" parameterType="reviewBoard"
	useGeneratedKeys="true" keyProperty="reviewBoardNo">
		INSERT INTO `review_board`(review_board_title ,review_board_content ,member_no, movie_no)
		VALUES (#{reviewBoardTitle}, #{reviewBoardContent}, #{reviewBoardWriter}, #{movieNo})
	</insert>
	
 	<insert id="insertReviewBoardImg"  parameterType="reviewBoardImg">
		INSERT INTO `review_board_img`(ori_img ,new_img ,img_path,review_board_no)
		VALUES (#{oriImg}, #{newImg}, #{imgPath}, #{reviewBoardNo})
	</insert> 
	
	<select id="selectReviewBoardCount" parameterType="reviewBoard" resultType="_int">
		SELECT COUNT(*) FROM review_board
	</select>
	
</mapper>